# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
node_modules

# Firebase config
/firebase.js
/src/components/FirebaseConfig.js

# Incomplete
/src/components/Home.js
/src/components/Home.css

/src/components/Calender.js
/src/components/Navbar.js

/src/components/Calendar

/src/components/Navigation

/src/components/Progress/
